@import "colors";

.btn {
  padding: 1rem 3rem;
  background-color: $main-blue;
  border: none;
  color: $pure-white;
  cursor: pointer;
  border-radius: 13px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}


.blue__btn {
  padding: 1rem 3rem;
  background-color: $main-blue;
  color: $main-white;
  border: none;
  border-radius: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(61, 61, 61, 0.52);
  cursor: pointer;
  transition: .3s;

  &:hover {
    transform: scale(1.1);
  }

}

.btn__dish {
  width: 10rem;
  border: none;
  background-color: $main-blue;
  padding: 0.5rem 2rem;
  border-radius: 13px;
}

.underline {
  height: 2px;
  width: 90%;
  background-color: $main-blue;
  opacity: .2;
  margin: 1rem auto 0;

}

.hidden {
  display: none;
}