@import "colors";

.btn {
  padding: 1rem 3rem;
  background-color: $main-blue;
  border: none;
  color: $pure-white;
  cursor: pointer;
  border-radius: 13px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}