@import "reset/normalize";
@import "welcome/welcome-page";
@import "colors";
@import "components";
@import "landingpage/nav";
@import "landingpage/header";
@import "landingpage/menuBox";
@import "landingpage/header-menu";

html {
  font-size: 62.5%;
  height: 100vh;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
}

p {
  margin: 0;
}

//media query /////////////////////////////////////////////////////////////////
//media query /////////////////////////////////////////////////////////////////

@media (max-width: 356px) {
  .header__menu-box {
    width: 60%;
  }
  .header__welcome {
    padding: 0.5rem;
    font-size: 2rem;
    margin-top: 10rem;
  }
  .nav__info-h3 {
    font-size: 3.5rem;
  }
  .menu__option_dish {
    padding: 0 0.5rem;
  }
}

@media(min-width: 768px) {
  .welcome__box-background {
    background-image: url("../img/welcome background/bgc-welcome-big.jpg");
  }
  .welcome__box-form {
    width: 40rem;
  }
  .header__menu-box {
    width: 40%;
  }
  .fa-cart-shopping {
    font-size: 5rem;
  }
  .cart__shopping {
    .cart__shopping-box-h3 {
      font-size: 3rem;
    }

  }
  .header__welcome {
    font-size: 3rem;
  }
}

@media(min-width: 992px) {
  .welcome__box-form {
    width: 50rem;
  }
  .header__welcome {
    font-size: 4rem;
    margin-bottom: 2rem;
    margin-top: 5rem;
  }
  .header__menu-box {
    width: 40%;
  }
}