@import "reset/normalize";
@import "welcome/welcome-page";
@import "colors";
@import "components";
@import "app/nav";
@import "app/header";
@import "app/menuBox";
@import "app/header-menu";
@import "app/order";

html {
  font-size: 62.5%;
  height: 100vh;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
}

p {
  margin: 0;
}

//media query /////////////////////////////////////////////////////////////////
//media query /////////////////////////////////////////////////////////////////

@media (max-width: 356px) {
  .header__menu-box {
    width: 60%;
  }
  .header__welcome {
    padding: 0.5rem;
    font-size: 2rem;
    margin-top: 10rem;
  }
  .nav__info-h3 {
    font-size: 3.5rem;
  }
  .menu__option_dish {
    padding: 0 0.5rem;
  }
}


@media(min-width: 768px) {
  .welcome__box-background {
    background-image: url("../img/welcome background/bgc-welcome-big.jpg");
  }
  .welcome__box-form {
    width: 40rem;
  }
  .header__menu-box {
    width: 40%;
  }
  .fa-cart-shopping {
    font-size: 5rem;
  }
  .cart__shopping {
    .cart__shopping-box-h3 {
      font-size: 3rem;
    }

  }
  .header__welcome {
    font-size: 3rem;
  }

  option {
    font-size: 1rem;
  }
}

@media(min-width: 992px) {
  .welcome__box-form {
    width: 50rem;
  }
  .header__welcome {
    font-size: 4rem;
    margin-bottom: 2rem;
    margin-top: 5rem;
  }
  .header__menu-box {
    width: 40%;
  }

  .order {
    &__h3 {
      font-size: 2rem;
      margin: 0;
    }

    &__p {
      font-size: 2rem;
    }

    &__form {
      margin-top: 0;
      margin-bottom: 2rem;

      label {
        font-size: 1rem;
      }

      .order__form-box-btn {
        padding: 1rem 2rem;
      }
    }
    textarea {
      width: 60%;
      min-height: 50px;
      max-height: 150px;
    }
    option {
      font-size: 2rem;
    }
    select {
      width: 60%;
      padding: 0.5rem;
    }
    input {
      margin-bottom: 1rem;
      width: 60%;
      padding: 0.5rem;
    }

    .welcome__form-label {
      font-size: 2rem;
    }
  }
}