@import "../colors";

.menu__options {
  position: absolute;
  width: 100%;
  max-width: 1200px;
  background-color: #fff;
  display: none;
  padding-bottom: 2rem;

  &-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;

    &-btn {
      margin-top: 3rem;
    }

    &-meal {
      width: 8rem;
      height: 8rem;
    }

    &-text {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 2rem;
    }
  }

  &-dishes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: #fff;

    .menu__option_dish {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-width: 24rem;
      margin-top: 1rem;
    }

    .dish__left-main {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 70%;


      .dish__left-box-ingredients {
        text-transform: inherit;
        margin-bottom: 1rem;
        padding-right: 2rem;

        span {
          font-weight: bold;
        }
      }

      .dish__left-box {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        justify-content: space-between;

        .dish__left-box-name {
          font-size: 1.8rem;
          font-weight: bolder;
        }

        .dish__right-box-price {
          margin-right: 2rem;
          font-size: 2rem;
          font-weight: bold;
        }
      }
    }

    .dish__right-box {

      &-img {
        height: 12rem;
        width: 12rem;
        border-radius: 1rem;
        border: 1px solid $main-blue
      }
    }
  }
}