@import "../colors";


.cart__shopping {
  width: 80%;
  max-width: 50rem;
  min-width: 27rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid rgba(61, 61, 61, 0.20);
  border-radius: 10px;
  box-shadow: 0 3px 5px #3d3d3d;
  display: none;
  z-index: 10;

  &-box-h3 {
    font-size: 2.4rem;
    text-align: center;
    margin: 1.5rem 0;
  }

  .fa-xmark {
    position: absolute;
    font-size: 2.4rem;
    padding: 1.5rem;
    right: 0;
    top: -10px;
    cursor: pointer;
  }

  &-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 100;

    &-dish {
      display: flex;
      justify-content: space-between;
      padding: 1rem 0.3rem;
      margin: 0 1rem;

      .box-dish-name {
        padding-right: 4rem;
        font-weight: bold;
        font-size: 2rem;
      }

      .box-dish-price {
        font-size: 2rem;
      }

      .box-dish-underline {
        width: 80%;
        height: 3px;
        background-color: $main-blue;
      }
    }

    .menu__list {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 1rem 2rem;

      &:not(:last-child)::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 95%;
        height: 2px;
        background-color: $main-first-blue;
        opacity: 0.3;

      }

      .left__box, .right__box {
        display: flex;
        align-items: center;

        .menu__list-number {
          width: 3rem;
          padding: 0.5rem 0.5rem;
          margin-right: 1rem;
          font-size: 1.6rem;
          border: 1px solid $text-color;
          border-radius: 10px;
          text-align: center;

          &:hover, &:focus {
            border: 1px solid $main-blue;
            outline: $main-blue;
          }
        }

        input[type='number'] {
          -moz-appearance: textfield;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }

        .menu__list-name {
          font-size: 1.6rem;
          font-weight: bold;
        }

        .menu-list-img {
          border-radius: 10px;
          height: 6rem;
          width: 6rem;
        }

        .menu__list-price {
          font-size: 1.6rem;
          font-weight: bold;
          margin-right: 1rem;
          padding-left: 0.5rem;
        }

        .fa-trash-can {
          margin: 0.5rem;
          color: $main-blue;
        }
      }
    }
  }

  .sum__price {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    font-weight: bold;
    margin: 1rem 0;

    &:after {
      position: absolute;
      content: "";
      width: 80%;
      height: 1px;
      background-color: $main-blue;
      opacity: .4;
      top: -1rem;
      left: 50%;
      transform: translateX(-50%);
    }

    .sum__price-p {
      font-size: 2rem;
    }

    .sum__price-span {
      font-size: 2rem;
    }
  }

  .btn__box {
  }
}
