@import "../colors";

.welcome__box {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;


  &-background {
    height: 100vh;
    width: 100vw;
    background-image: url("../../img/welcome background/bgc-welcome-small.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;

    &-shadow {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(47, 133, 185, 0.1);
    }
  }

  &-form {
    position: relative;
    width: 65vw;
    min-width: 25rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 3px 5px black;
    border-radius: 10px;
    overflow: hidden;


    .welcome__text {
      text-align: center;
      padding: 1.5rem;

      &-p {
        padding: 1rem;
      }

      .welcome__form {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-name {
          margin: 0.5rem;
        }

        &-input {
          width: 65%;
          margin: 1rem 0 0 1rem;
          //padding: 0.3rem 1rem;
          text-align: center;
          border: 1px solid grey;
          outline: none;

          &:focus {
            border: 1px solid black;
          }
        }

        &-btn {
          margin: 1rem;
        }

        &-input-error {
          margin-top: 0.5rem;
          color: tomato;
          font-weight: bold;
          visibility: hidden;
        }
      }
    }

    &-logo {
      width: 100%;
      background-color: $main-blue;
      display: flex;
      justify-content: center;
      align-items: center;

      & img {
        height: 5rem;
        padding: 1rem 0;
      }

      & h3 {
        margin: 0;
        font-family: 'Dancing Script', cursive;
        font-size: 4rem;
        color: $pure-white;
      }
    }
  }

}