@import "../colors";

.order {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: $main-white;
  visibility: hidden;
  z-index: 100;

  &__h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    text-align: center;
  }

  &__p {
    font-size: 2rem;
  }

  &__p-sum {
    font-weight: bold;
  }

}

.order__form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  min-width: 28rem;
  max-width: 57rem;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 0 2px 10px -2px #3d3d3d;

  label {
    font-weight: bold;
  }

  input {
    border: 1px solid #3d3d3d;
    text-align: center;
    width: 60%;
  }

  option {
    margin: 0;
    padding: 0;
  }

  .welcome__form-label {
    margin-top: 1rem;
  }

  .order__form-box {
    display: flex;

    .return__btn-summary {
      background-color: $pure-white;
      border: 1px solid $main-first-blue;
      color: $main-first-blue;
    }

    &-btn {
      font-size: 1.3rem;
      margin: 1.5rem 0.5rem;
      padding: 0.5rem 2rem;
    }
  }

  .form__order-textarea {
    min-width: 80%;
    max-width: 300px;
    min-height: 150px;
    max-height: 250px;
    border: 1px solid #3d3d3d;
  }
}

.order__form-error {
  text-align: center;
  font-weight: bolder;
  color: tomato;
  font-size: 1.6rem;
  margin-top: 1rem;
  visibility: hidden;
}

